In [1]:
install.packages("CMplot")

Installing package into ‘/home/jupyter/packages’
(as ‘lib’ is unspecified)

Much appreciate for using CMplot.

Full description, Bug report, Suggestion and the latest codes:

https://github.com/YinLiLin/CMplot

In [1]:
library(tidyr)
library(dplyr)
library(tidyverse)
library(data.table)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ forcats   1.0.0     ✔ readr     2.1.5
✔ ggplot2   3.5.1     ✔ stringr   1.5.1
✔ lubridate 1.9.3     ✔ tibble    3.2.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: ‘data.table’


The following objects are masked from ‘package:lubridate’:

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year


The following object is masked from ‘package:purrr’:

    transpose


The following objects are masked from ‘package:dplyr’:

    between, first, last

In [2]:
library("CMplot")

Much appreciate for using CMplot.

Full description, Bug report, Suggestion and the latest codes:

https://github.com/YinLiLin/CMplot

In [23]:
data(pig60K)   #calculated p-values by MLM
data(cattle50K)   #calculated SNP effects by rrblup
head(pig60K)

  SNP         Chromosome Position trait1    trait2     trait3
1 ALGA0000009 1           52297   0.7738187 0.51194318 0.51194318
2 ALGA0000014 1           79763   0.7738187 0.51194318 0.51194318
3 ALGA0000021 1          209568   0.7583016 0.98405289 0.98405289
4 ALGA0000022 1          292758   0.7200305 0.48887140 0.48887140
5 ALGA0000046 1          747831   0.9736840 0.22096836 0.22096836
6 ALGA0000047 1          761957   0.9174565 0.05753712 0.05753712

In [3]:
CMplot(pig60K,type="p",plot.type="c",chr.labels=paste("Chr",c(1:18,"X","Y"),sep=""),r=0.4,cir.axis=TRUE,
        outward=FALSE,cir.axis.col="black",cir.chr.h=1.3,chr.den.col="black",file="jpg",
        file.name="",dpi=300,file.output=TRUE,verbose=TRUE,width=10,height=10)

 Circular Manhattan plotting trait1.
 Circular Manhattan plotting trait2.
 Circular Manhattan plotting trait3.
 Plots are stored in: /home/jupyter/workspaces/chipinallofusgenomeswithmutect2v7

In [6]:
system("gsutil cp gs://fc-secure-cb192ac6-30ba-46b9-92ee-896a6e36c63e/pershy1/gwas_cis_for_circ_manhattan_02222025.tsv .", intern = TRUE)

character(0)

In [8]:
system("gsutil cp gs://fc-secure-cb192ac6-30ba-46b9-92ee-896a6e36c63e/pershy1/gwas_cis_for_circ_manhattan_02222025_v2.tsv .", intern = TRUE)

character(0)

In [3]:
circ_datav1 <- fread("gwas_cis_for_circ_manhattan_02222025.tsv")
circ_datav2 <- fread("gwas_cis_for_circ_manhattan_02222025_v2.tsv")

In [4]:
dim(circ_datav1)
dim(circ_datav2)

[1] 13709787        6

[1] 14109132        6

In [5]:
circ_data <- circ_datav2

In [6]:
summary(circ_data$cnloh_pvalue)
summary(circ_data$gain_pvalue)
summary(circ_data$loss_pvalue)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
    0.0     0.3     0.5     0.5     0.7     1.0 2209041

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
      0       0       1       1       1       1 8745077

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
      0       0       0       1       1       1 5278653

In [6]:
circ_data <- circ_data %>%
  mutate(across(everything(), ~ replace(., is.na(.), 0.999))) %>%
  mutate(across(everything(), ~ replace(., . == 0, 1e-20)))

In [8]:
head(circ_data)

  chr  pos    cnloh_pvalue gain_pvalue loss_pvalue SNP
1 chr1 727233 0.31530      0.999       0.3198      chr1:727233
2 chr1 730869 0.52680      0.999       0.9364      chr1:730869
3 chr1 740747 0.14000      0.999       0.9990      chr1:740747
4 chr1 756898 0.68910      0.999       0.9990      chr1:756898
5 chr1 758540 0.03119      0.999       0.9990      chr1:758540
6 chr1 762107 0.39300      0.999       0.9990      chr1:762107

In [7]:
circ_data <- circ_data[,c(6,1,2,4,5,3)]

In [8]:
head(circ_data)

  SNP         chr  pos    gain_pvalue loss_pvalue cnloh_pvalue
1 chr1:727233 chr1 727233 0.999       0.3198      0.31530
2 chr1:730869 chr1 730869 0.999       0.9364      0.52680
3 chr1:740747 chr1 740747 0.999       0.9990      0.14000
4 chr1:756898 chr1 756898 0.999       0.9990      0.68910
5 chr1:758540 chr1 758540 0.999       0.9990      0.03119
6 chr1:762107 chr1 762107 0.999       0.9990      0.39300

In [9]:
names(circ_data)[4] <- "trait1"
names(circ_data)[5] <- "trait2"
names(circ_data)[6] <- "trait3"

In [10]:
circ_data$chr <- gsub("chr", "", circ_data$chr)

In [11]:
table(circ_datav1$chr)

      1       2       3       4       5       6       7       8       9      10
1123128 1180212 1003100 1051690  943980  896883  832903  823172  638916  468714
     11      12      13      14      15      16      17      18      19      20
 728563  708183  536489  474317  422873  429709  380218  400850  296593  169909
     21
 199385

In [14]:
class(circ_datav1$chr)
class(circ_data$chr)

[1] "integer"

[1] "character"

In [12]:
circ_data$chr <- as.integer(circ_data$chr)

In [13]:
table(circ_data$chr)

      1       2       3       4       5       6       7       8       9      10
1123078 1180179 1002939 1051614  943917  896833  832855  823109  638828  468690
     11      12      13      14      15      16      17      18      19      20
 728511  708072  536478  474275  422837  429695  380182  400839  296572  169903
     21      22
 199301  400425

In [14]:
min_loss_pvalue <- min(circ_data$trait3[circ_data$chr == "1"], na.rm = TRUE)
print(min_loss_pvalue)

[1] 1.94e-30

In [15]:
circ_data$trait1[circ_data$trait1 < 1e-10] <- 1e-10
circ_data$trait2[circ_data$trait2 < 1e-10] <- 1e-10
circ_data$trait3[circ_data$trait3 < 1e-10] <- 1e-10

In [16]:
min_loss_pvalue <- min(circ_data$trait3[circ_data$chr == "1"], na.rm = TRUE)
print(min_loss_pvalue)

[1] 1e-10

In [17]:
CMplot(circ_data, 
       type = "p", 
       plot.type = "c", 
       chr.labels = c(1:22), 
       r = 0.4,  
       cir.axis = TRUE, 
       cir.axis.col = "black", 
       cir.chr.h = 1.3,  
       chr.den.col = "black", 
       file = "jpg",
       file.name = "", 
       dpi = 300, 
       file.output = TRUE, 
       verbose = TRUE, 
       width = 10, height = 10,
       ylim = c(0, 10) 
)

 (warning: all phenotypes will use the same ylim.)
 Circular Manhattan plotting trait1.
 Circular Manhattan plotting trait2.
 Circular Manhattan plotting trait3.
 Plots are stored in: /home/jupyter/workspaces/chipinallofusgenomeswithmutect2v7